*{

}


main{
    background-color: bisque;
    font-family: sans-serif;
    padding: 35px;
    width: 100%
    height: 100%
}
input{
    margin: .4rem;
}

header{
    background: LemonChiffon;
    padding: 10px;
}

.img-vid{
    margin: 25px 20px 10px 10px;
    float:right;
}

.ingred{

}

#vid{
    float: clear right;
}

html{
    background-color: ;

}

.surround{
    background-color: linen;
    width: 100%
    height: 100%
}

.video{
    padding-top: 30px;
    width: 50%;
    float: right;"
}
